<section class="project-detail">
    <a routerLink="/projects" class="project-detail__back">
        ← {{ textPage.back}}
    </a>


    @if (project) {

    <header class="project-detail__hero">

        <div class="project-detail__hero-content">

            <h1 class="project-detail__title">
                {{ text?.title }}
            </h1>

            <p class="project-detail__subtitle">
                {{ text?.subtitle }}
            </p>

            <div class="project-detail__technologies">

                @for (
                technology of project.technologies;
                track technology
                ) {

                <span class="project-detail__technology">
                    {{ technology }}
                </span>

                }

            </div>

        </div>

        <div class="project-detail__hero-image-wrapper">

            <img [src]="project.image" (click)="openModal(project.image)" [alt]="text?.title"
                class="project-detail__hero-image">
            @if (project.image2) {
            <img [src]="project.image2" (click)="openModal(project.image2)" [alt]="text?.title"
                class="project-detail__hero-image">
            }

        </div>

    </header>


    <section class="project-detail__section">

        <h2 class="project-detail__section-title">
            {{ text?.description.title }}
        </h2>

        <p class="project-detail__section-text">
            {{ text?.description.text }}
        </p>

    </section>


    <section class="project-detail__section">

        <h2 class="project-detail__section-title">
            {{ text?.problem.title }}
        </h2>

        <p class="project-detail__section-text">
            {{ text?.problem.text }}
        </p>

    </section>


    <section class="project-detail__architecture">

        <h2 class="project-detail__section-title">
            {{ text?.architecture.title }}
        </h2>

        <div class="project-detail__architecture-wrapper">

            <img [src]="project.architectureImage" [alt]="text?.architecture.title"
                class="project-detail__architecture-image">

        </div>

    </section>

    <section class="project-detail__characteristics">

        <div class="project-detail__characteristics-column">

            <h2 class="project-detail__section-title">
                {{ text?.functionality.title }}
            </h2>

            <ul class="project-detail__list">

                @for (
                item of text?.functionality.items;
                track item
                ) {

                <li class="project-detail__list-item">
                    <span class="project-detail__list-icon">
                        ✓
                    </span>

                    {{ item }}
                </li>

                }

            </ul>

        </div>


        <div class="project-detail__characteristics-column">

            <h2 class="project-detail__section-title">
                {{ text?.learning.title }}
            </h2>

            <ul class="project-detail__list">

                @for (
                item of text?.learning.items;
                track item
                ) {

                <li class="project-detail__list-item">
                    <span class="project-detail__list-icon">
                        ✓
                    </span>

                    {{ item }}
                </li>

                }

            </ul>

        </div>

    </section>

    <section class="project-detail__links">

        <h2 class="project-detail__section-title">
            {{ textPage.link}}
        </h2>

        <div class="project-detail__buttons">

            <a [href]="project.githubUrl" target="_blank" rel="noopener noreferrer"
                class="project-detail__button project-detail__button--secondary">
                {{ text?.links.github }}
            </a>

            <a [href]="project.demoUrl" target="_blank" rel="noopener noreferrer"
                class="project-detail__button project-detail__button--primary">
                {{ text?.links.demo }}
            </a>

        </div>

    </section>

    }

    @else {

    <div class="project-detail__not-found">

        <h1>
            {{ textPage.error}}
        </h1>

        <a routerLink="/projects">
            {{ textPage.back}}
        </a>

    </div>

    }

</section>

@if (isModalOpen()) {
<div class="modal-overlay" (click)="isModalOpen.set(false)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <img [src]="imgModal" alt="modal-image">
    </div>
</div>
}