<section class="about">
    <div class="about__content">
        <h2 class="about__title">Sobre mi</h2>
        <p class="about__description">
            Ingeniero de Sistemas con más de 3 años de experiencia en desarrollo de software.
            Me especializo en el desarrollo de soluciones Full Stack, trabajando tanto en
            frontend como en backend. También cuento con experiencia práctica en AWS,
            conocimientos en bases de datos SQL y NoSQL, y en la integración de herramientas
            y plataformas de terceros en proyectos reales, incluyendo soluciones desplegadas
            y utilizadas en entornos de producción.
        </p>
        <div class="about__cards">
            <div class="about__card">
                <div><ng-icon name="bootstrapStar" class="about__card-icon"></ng-icon></div>
                <h3 class="about__card-title">3+</h3>
                <p class="about__card-description">Años de experiencia</p>
            </div>
            <div class="about__card">
                <div><ng-icon name="bootstrapStar" class="about__card-icon"></ng-icon></div>
                <h3 class="about__card-title">5+</h3>
                <p class="about__card-description">Proyectos en producción</p>
            </div>
            <div class="about__card">
                <div><ng-icon name="bootstrapStar" class="about__card-icon"></ng-icon></div>
                <h3 class="about__card-title">10+</h3>
                <p class="about__card-description">Tecnologías utilizadas</p>
            </div>
            <div class="about__card">
                <div><ng-icon name="bootstrapStar" class="about__card-icon"></ng-icon></div>
                <h3 class="about__card-title">100%</h3>
                <p class="about__card-description">Comprometido</p>
            </div>
        </div>
    </div>
</section>