<section class="skills">
    <div class="skills__container">
        <header class="skills__header">
            <p class="skills__subtitle">Tecnologías</p>
            <h2 class="skills__title">Skills</h2>
            <p class="skills__description">
                Tecnologías y herramientas con las que trabajo
                para desarrollar soluciones web.
            </p>
        </header>
        <div class="skills__categories">
            @for (skillCategory of skillCategories; track skillCategory.title) {

            <app-skill-category [skill]="skillCategory">
            </app-skill-category>

            }
        </div>
    </div>
</section>