<section class="skills">
    <div class="skills__container">
        <header class="skills__header">
            <p class="skills__subtitle">{{ text.subTitle }}</p>
            <h2 class="skills__title">{{ text.title }}</h2>
            <p class="skills__description">{{ text.description }}</p>
        </header>
        <div class="skills__categories">
            @for (skillCategory of skillCategories; track skillCategory.title) {

            <app-skill-category [skill]="skillCategory">
            </app-skill-category>

            }
        </div>
    </div>
</section>