<section class="contact">
    <div class="contact__hero">
        <div class="contact__hero-content">
            <h1 class="contact__hero-title">
                {{text.title}}
            </h1>

            <p class="contact__hero-description">{{text.description}}</p>
        </div>
        <img class="contact__hero-image" src="home-background.jpg" alt="Programador trabajando">
    </div>

    <div class="contact__body">
        <div class="contact__form contact__container">
            <form class="contact__form-content" [formGroup]="contactForm" (ngSubmit)="sendEmail()">
                <div class="contact__form-field">
                    <label for="name">{{ text.formName }}</label>
                    <input type="text" id="name" formControlName="name" max="101">

                    @if (contactForm.get('name')?.touched) {
                    @if (contactForm.get('name')?.errors?.['required']) {
                    <small class="error">El nombre es obligatorio.</small>
                    }

                    @if (contactForm.get('name')?.errors?.['minlength']) {
                    <small class="error">
                        El nombre debe tener al menos 4 caracteres.
                    </small>
                    }

                    @if (contactForm.get('name')?.errors?.['maxlength']) {
                    <small class="error">
                        El nombre no puede superar los 100 caracteres.
                    </small>
                    }
                    }
                </div>

                <div class="contact__form-field">
                    <label for="email">{{ text.formEmail }}</label>
                    <input type="email" id="email" formControlName="email" max="101">

                    @if (contactForm.get('email')?.touched) {

                    @if (contactForm.get('email')?.errors?.['required']) {
                    <small class="error">El correo es obligatorio.</small>
                    }

                    @if (contactForm.get('email')?.errors?.['email']) {
                    <small class="error">
                        Ingresa un correo válido.
                    </small>
                    }

                    @if (contactForm.get('email')?.errors?.['maxlength']) {
                    <small class="error">
                        El correo no puede superar los 100 caracteres.
                    </small>
                    }

                    }
                </div>

                <div class="contact__form-field">
                    <label for="subject">{{ text.formSubject }}</label>
                    <input type="text" id="subject" formControlName="subject" max="201">

                    @if (contactForm.get('subject')?.touched) {

                    @if (contactForm.get('subject')?.errors?.['required']) {
                    <small class="error">El asunto es obligatorio.</small>
                    }

                    @if (contactForm.get('subject')?.errors?.['minlength']) {
                    <small class="error">
                        El asunto debe tener al menos 4 caracteres.
                    </small>
                    }

                    @if (contactForm.get('subject')?.errors?.['maxlength']) {
                    <small class="error">
                        El asunto no puede superar los 200 caracteres.
                    </small>
                    }

                    }
                </div>

                <div class="contact__form-field">
                    <label for="message">{{ text.formMessage }}</label>
                    <textarea id="message" rows="6" formControlName="message" maxlength="5001"></textarea>

                    @if (contactForm.get('message')?.touched) {

                    @if (contactForm.get('message')?.errors?.['required']) {
                    <small class="error">El mensaje es obligatorio.</small>
                    }

                    @if (contactForm.get('message')?.errors?.['minlength']) {
                    <small class="error">
                        El mensaje debe tener al menos 4 caracteres.
                    </small>
                    }

                    @if (contactForm.get('message')?.errors?.['maxlength']) {
                    <small class="error">
                        El mensaje no puede superar los 5000 caracteres.
                    </small>
                    }

                    }
                </div>

                <button class="contact__form-button" type="submit">
                    {{ text.formBtn }}
                </button>
            </form>
        </div>
        <aside class="contact__sidebar">
            <div class="contact__info contact__container">
                <h2 class="contact__info-title">
                    {{text.informationTitle}}
                </h2>
                <div class="contact__info-item">
                    <ng-icon name="bootstrapEnvelope" class="contact__info-icon"></ng-icon>
                    <div class="contact__info-content">
                        <span class="contact__info-label">
                            {{text.informationEmail}}
                        </span>
                        <a href="mailto:alexispatinoagudelo@gmail.com" class="contact__info-value contact__info-link">
                            alexispatinoagudelo@gmail.com
                        </a>
                    </div>
                </div>

                <div class="contact__info-item">
                    <ng-icon name="bootstrapLinkedin" class="contact__info-icon"></ng-icon>
                    <div class="contact__info-content">
                        <span class="contact__info-label">
                            {{text.informationLinkedin}}
                        </span>
                        <a href="https://www.linkedin.com/in/alexis-patino-agudelo/" target="_blank"
                            class="contact__info-value contact__info-link">
                            linkedin.com/in/alexis-patino-agudelo
                        </a>
                    </div>
                </div>

                <div class="contact__info-item">
                    <ng-icon name="bootstrapGithub" class="contact__info-icon"></ng-icon>
                    <div class="contact__info-content">
                        <span class="contact__info-label">
                            {{text.informationGithub}}
                        </span>
                        <a href="https://github.com/AlexisPA01" target="_blank"
                            class="contact__info-value contact__info-link">
                            github.com/AlexisPA01
                        </a>
                    </div>
                </div>

                <div class="contact__info-item">
                    <ng-icon name="bootstrapPerson" class="contact__info-icon"></ng-icon>
                    <div class="contact__info-content">
                        <span class="contact__info-label">
                            {{text.informationAvailability}}
                        </span>
                        <span class="contact__info-value">
                            {{text.informationLocation}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="contact__cv contact__container">
                <h3 class="contact__cv-title">
                    {{text.downloadTitle}}
                </h3>
                <p class="contact__cv-description">
                    {{text.downloadDescription}}
                </p>
                <a href="" class="contact__cv-download" (click)="cv.downloadCV($event)">
                    <ng-icon name="bootstrapHandThumbsUp" class="contact__info-icon"></ng-icon>
                    {{text.downloadBtn}}
                    <ng-icon name="bootstrapDownload" class="contact__info-icon"></ng-icon>
                </a>
            </div>
        </aside>
    </div>
</section>