<div class="skill-category">
    <div class="skill-category__header">

        <div class="skill-category__icon">
            <ng-icon [name]="skill.icon" class="about__card-icon"></ng-icon>
        </div>

        <h3 class="skill-category__title">
            {{ skill.title }}
        </h3>
    </div>

    <div class="skill-category__list">

        @for (skill of skill.skillsIcons; track skill.name) {
        <span class="skill-category__item">

            <span class="skill-category__item-icon">
                <ng-icon [name]="skill.icon" class="about__card-icon"></ng-icon>
            </span>

            <span class="skill-category__item-name">
                {{ skill.name }}
            </span>

        </span>
        }

    </div>

</div>