<section class="hero">
    <div class="hero__content">
        <p class="hero__greeting">{{ text.greeting }}</p>
        <h1 class="hero__title">{{ text.title }}</h1>
        <h2 class="hero__role">{{ text.role }}</h2>
        <p class="hero__description">{{ text.description }}</p>
        <div class="hero__actions">
            <a href="" class="button button--primary">
                {{ text.btnProjects }}
            </a>
            <a href="" class="button button--secondary" (click)="cv.downloadCV()">{{ text.btnCurriculum }}</a>

        </div>
        <ul class="hero__socials">
            <li class="hero__social">
                <a href="#" class="hero__social-link" aria-label="GitHub">
                    <ng-icon name="bootstrapGithub"></ng-icon>
                </a>

                <a href="#" class="hero__social-link" aria-label="LinkedIn">
                    <ng-icon name="bootstrapLinkedin"></ng-icon>
                </a>

                <a href="#" class="hero__social-link" aria-label="Email">
                    <ng-icon name="bootstrapEnvelope"></ng-icon>
                </a>
            </li>
        </ul>
    </div>
    <img class="hero__image" src="home-background.jpg" alt="programmer">
</section>