<section class="hero">
    <div class="hero__content">
        <p class="hero__greeting">Hola, soy</p>
        <h1 class="hero__title">Alexis Patiño Agudelo</h1>
        <h2 class="hero__role">Full Stack Developer</h2>
        <p class="hero__description">
            Desarrollo aplicaciones webs, APIs escalables y
            soluciones en la nube que resuelven problemas reales.
        </p>
        <div class="hero__actions">
            <a href="" class="button button--primary">
                Ver proyectos
            </a>
            <a href="" class="button button--secondary" download>Descargar CV</a>

        </div>
        <div class="hero__socials">
            <li class="hero__social">
                <a href="#" class="hero__social-link" aria-label="GitHub">
                    <ng-icon name="bootstrapGithub"></ng-icon>
                </a>

                <a href="#" class="hero__social-link" aria-label="LinkedIn">
                    <ng-icon name="bootstrapLinkedin"></ng-icon>
                </a>

                <a href="#" class="hero__social-link" aria-label="Email">
                    <ng-icon name="bootstrapEnvelope"></ng-icon>
                </a>
            </li>
        </div>
    </div>
    <img class="hero__image" src="home-background.jpg" alt="programmer">
</section>