<nav class="navbar">
    <img src="navbar-logo.png" alt="Alexis Patiño - Developer" class="navbar__logo">

    <button type="button" class="navbar__menu-button" [class.navbar__menu-button--active]="isMenuOpen()"
        (click)="toggleMenu()" aria-label="Abrir menú" [attr.aria-expanded]="isMenuOpen()">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="navbar__list" [class.navbar__list--open]="isMenuOpen()">
        <a routerLink="/" class="navbar__list-item" routerLinkActive="navbar__list-item--active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{text.home}}
        </a>

        <a routerLink="/" fragment="about" class="navbar__list-item">
            {{text.about}}
        </a>

        <a routerLink="/projects" class="navbar__list-item" routerLinkActive="navbar__list-item--active">
            {{text.projects}}
        </a>

        <a routerLink="/contact" class="navbar__list-item" routerLinkActive="navbar__list-item--active">
            {{text.contact}}
        </a>
        <div class="navbar__language">
            <button type="button" class="navbar__language-button"
                [class.navbar__language-button--active]="language.currentLanguage() === 'en'"
                (click)="language.setLanguage('en')">
                <div>US</div>
                <ng-icon name="flagUs" class="navbar__language-icon"></ng-icon>
            </button>

            <span class="navbar__language-separator">/</span>

            <button type="button" class="navbar__language-button"
                [class.navbar__language-button--active]="language.currentLanguage() === 'es'"
                (click)="language.setLanguage('es')">
                <div>ES</div>
                <ng-icon name="flagEs" class="navbar__language-icon"></ng-icon>
            </button>
        </div>
    </div>
</nav>