:root {
    --color-bg: #0B0F19;
    --color-bg-secondary: #131A2A;
    --color-card: #1A2235;
    --color-border: #2A344A;

    --color-primary: #7C5CFF;
    --color-primary-hover: #9478FF;
    --color-accent: #5E8BFF;

    --color-text: #F5F7FA;
    --color-text-secondary: #AAB3C5;
    --color-text-muted: #7B8498;

    --color-success: #3DDC97;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

button {
    font-weight: 600;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;

    text-decoration: none;
    font-weight: 600;

    transition: all 0.2s ease;
}

.butto--primary {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.button--secondary {
    background-color: var(--color-text);
    color: var(--color-primary);
}