<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-select
      slot="start"
      (ionChange)="changeLanguage(currentLanguage)"
      [(ngModel)]="currentLanguage"
    >
      <ion-select-option
        *ngFor="let lang of languages"
        [value]="lang"
      > 
         {{lang.toLocaleUpperCase()}} 
      </ion-select-option>
    </ion-select>

    <div class="buttons" slot="end">
      <ion-buttons>
        <ion-button>
          {{'HOME'| translate }}
        </ion-button>
        <ion-button>
          {{'SKILLS'| translate }}
        </ion-button>
        <ion-button>
          {{'PROJECTS'| translate }}
        </ion-button>
        <ion-button class="btn-linkedin">
          <ion-icon name="logo-linkedin"></ion-icon>
        </ion-button>
        <ion-button class="btn-github">
          <ion-icon name="logo-github"></ion-icon>
        </ion-button>
        <button
          class="btn-animation">
          <span>
            {{'CONTACT'| translate }}
          </span>
        </button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
      <div class="card">
        <div class="card-container">
            <div class="card-title">Alexis Patiño Agudelo</div>
            <div class="card-text">{{'PROFESSION'| translate }}</div>
        </div>
        <img class="card-img" src="/assets/images/profile.jpg" alt="profile" />    
    </div>
  </section>

  <section>
    <div id="home-about">
      <h2 class="about-title">{{'SELF-TITLE'| translate }}</h2>
      <p class="about-subtitle">{{'SELF-DESCRIPTION'| translate }}</p>
      <ion-button class="about-btn">
        <span>
          {{'DOWNLOAD'| translate }} CV
        </span>
        <ion-icon slot="end" name="arrow-down-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </section>

  <ion-item>
    <ion-label>{{'SKILLS'| translate }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{'PROJECTS'| translate }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{'CONTACT'| translate }}</ion-label>
  </ion-item>
</ion-content>
